<ion-view view-title="SignUp" id="signup">
  <ion-content class="padding">
      <div class="list">
          <label class="item item-input">
              <input type="text" placeholder="Prénom">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Nom">
          </label>
          <div class="picture" ng-click="capturePicture()">
              <img id="capturedImage" src="http://static1.puretrend.com/articles/6/81/06/6/@/932535-melanie-bernier-300x276-2.jpg" alt="" />
          </div>
          <button class="button button-block button-stable">
              Sauvegarder
          </button>
      </div>
  </ion-content>
</ion-view>
