<ion-view view-title="SignUp" id="signup" class="page-account">
  <ion-content class="padding">
      <div class="content header-logo">
          <div class="logo">
              Logo
          </div>
          <h1 class="app-name">clockEnough</h1>
      </div>
      <div class="list">
          <h2 class="title">S'enregistrer</h2>
          <label class="item item-input">
              <input type="text" placeholder="Prénom" ng-model="account.firstname">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Nom" ng-model="account.lastname">
          </label>
          <div class="picture" ng-click="capturePicture()">
              <img id="capturedImage" src="" alt="" />
              <i class="icon ion-ios-camera-outline" ng-show="icon"></i>
          </div>
          <button class="button button-block button-stable" ng-click="saveAccount()">
              Sauvegarder
          </button>
      </div>
  </ion-content>
</ion-view>
