<ion-view view-title="Mon Compte" id="account" class="page-account">
    <ion-content>
        <div class="content header-logo">
            <div class="logo">
            </div>
            <h1 class="h1 app-name">Clock Enough</h1>
        </div>
        <div class="content">
        <h2 class="h2 title">{{group.group_name}}</h2>
        <div class="item item-divider">
            Details de l'événement
        </div>
        <div class="item">
            <p>
                Date : {{group.date}}
            </p>
        </div>
        <div class="item">
            <p>
                Hours : {{group.hour}}
            </p>
        </div>
        <div class="item">
            <p>
                Place : {{group.place}}
            </p>
        </div>
        <div class="item">
            <p>
                Status : {{group.status}}
            </p>
        </div>
        <div class="item item-divider">
            Participants
        </div>
        <ion-list class="list">
            <ion-item class="item item-avatar item-icon-right" ng-repeat="p in group.person">
                <img src="http://ronald-site.pagesperso-orange.fr/image/profil_icon.png">
                <h2>{{p.person_name}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
