<ion-view view-title="Organiser" id="page-create-event">
  <ion-content>
    <div class="content header-logo">
        <div class="logo">
        </div>
        <h1 class="h1 app-name">Clock Enough</h1>
    </div>
    <div class="list">
        <h2 class="h2 title">Organiser un événement</h2>
        <label class="item item-input">
            <input type="text" placeholder="Nom de l'événement" ng-model="event.name">
        </label>
        <label class="item item-input">
            <span class="input-label">Date</span>
            <input type="date" placeholder="Date" ng-model="event.date">
        </label>
        <label class="item item-input">
            <span class="input-label">Heure</span>
            <input type="time" placeholder="Heure" ng-model="event.hours">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Lieu" ng-model="event.place">
        </label>
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Ajouter un status" ng-model="event.statusInput">
            </label>
            <button class="button button-small" ng-click="addStatus()">
                <i class="icon ion-plus"></i>
            </button>
        </div>
        <ion-list>
            <ion-item ng-repeat="status in event.status track by $index">
                {{status}}
            </ion-item>
        </ion-list>
        <div class="item item-divider">
            Ajouter des personnes
        </div>
        <div class="people-container">
            <div class="people-overflow">
                <ion-list>
                    <ion-item ng-repeat="p in people" class="item item-button-right">
                        {{p.person_name}}
                        <button class="button button-stable" ng-click="managePeople($index)">
                            <i class="icon" ng-class="{'ion-minus': p.added, 'ion-plus': !p.added}"></i>
                        </button>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <button class="button button-block button-stable" ng-click="saveEvent()">
            Créer
        </button>
    </div>
  </ion-content>
</ion-view>
