<ion-view view-title="Evénement" class="page-manage-event">
    <ion-content>
    <div class="content header-logo">
        <div class="logo">
        </div>
        <h1 class="h1 app-name">Clock Enough</h1>
    </div>
    <div class="list">
        <ion-list class="list animate-fade-slide-in-right">
            <ion-item class="item" ng-repeat="e in events">
                <a href="#/tab/event/{{e.group_id}}">
                    <h2>{{e.group_name}}</h2>
                </a>

            </ion-item>
        </ion-list>
    </div>
    </ion-content>
</ion-view>
