<ion-view view-title="Event">
    <ion-content>
    <div class="content header-logo">
        <div class="logo">
            Logo
        </div>
        <h1 class="h1 app-name">clockEnough</h1>
    </div>
    <div class="list">
        Response : OK or noK
        <!-- <h2 class="h2 title">{{group.group_name}}</h2>
        <a class="button button-large button-block button-stable" href="#/tab/event/{{group.group_id}}/capture/entry">
          Check Entry / departure
        </a>
        <a class="button button-large button-block button-stable" href="#/tab/event/{{group.group_id}}/capture/status">
          Check Status
        </a> -->
    </div>
    </ion-content>
</ion-view>
