<ion-view view-title="Account" id="account" class="page-account">
    <ion-nav-buttons side="right">
        <button class="button icon ion-person-add" ng-click="goTo('tab.signUp')"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="content header-logo">
            <div class="logo">
                Logo
            </div>
            <h1 class="h1 app-name">clockEnough</h1>
        </div>
        <div class="content">
        <h2 class="h2 title">Mes événements</h2>
        <ion-list class="list animate-fade-slide-in-right">
            <ion-item class="item item-avatar item-icon-right" ng-repeat="e in events">
                <img src="http://static1.puretrend.com/articles/6/81/06/6/@/932535-melanie-bernier-300x276-2.jpg">
                <h2>{{e.group_name}}</h2>
                <!-- <p>{{e.address}}, {{e.date}}</p> -->
                <ion-option-button class="button-balanced" ng-click="">Confirm</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
