<ion-view view-title="Account" id="account" class="page-account">
    <ion-nav-buttons side="right">
        <button class="button icon ion-person-add" ng-click="goTo('tab.signUp')"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="content header-logo">
            <div class="logo">
                Logo
            </div>
            <h1 class="h1 app-name">clockEnough</h1>
        </div>
        <div class="content">
        <h2 class="h2 title">Event : {{group.group_name}}</h2>
        <div class="item item-divider">
            Details de l'événement
        </div>
        <div class="item">
            <p>
                Date : {{group.date}}
            </p>
        </div>
        <div class="item">
            <p>
                Hours : {{group.hours}}
            </p>
        </div>
        <div class="item">
            <p>
                Place : {{group.place}}
            </p>
        </div>
        <div class="item">
            <p>
                Status : {{group.status}}
            </p>
        </div>
        <div class="item item-divider">
            Participants
        </div>
        <ion-list class="list animate-fade-slide-in-right">
            <ion-item class="item item-avatar item-icon-right" ng-repeat="p in group.person">
                <img src="http://static1.puretrend.com/articles/6/81/06/6/@/932535-melanie-bernier-300x276-2.jpg">
                <h2>{{p.person_name}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
