<ion-view view-title="Evénement" class="page-event-check page-event-check-status">
    <ion-content>
    <div class="content header-logo">
        <div class="logo">
        </div>
        <h1 class="h1 app-name">Clock Enough</h1>
    </div>
    <div class="list">
        <div class="picture">
          <img id="profilePicture" src="{{img}}" alt="profilePicture" />
        </div>
        <div class="userInfos">
            <h2 class="h2 title">{{name}}</h2>
        </div>
        <button ng-if="!userInfos" ng-repeat="e in event.status"class="button button-large button-block button-stable" ng-click="addStatus(e)">{{e}}</button>
        <h2 class="h2 title" ng-if="userInfos">Statut(s) :<br> {{tags}}</h2>
      </div>
    </ion-content>
</ion-view>
