<ion-view view-title="Event">
    <ion-content class="padding">
    <div class="content header-logo">
        <div class="logo">
            Logo
        </div>
        <h1 class="h1 app-name">clockEnough</h1>
    </div>
    <div class="list">
        <h2 class="h2 title">{{event.name}}</h2>
        <a class="button button-large button-block button-stable" href="#/tab/event/{{event.id}}/capture">
          Check Entry / departure
        </a>
        <a class="button button-large button-block button-stable" href="#/tab/event/{{event.id}}/capture">
          Check Status
        </a>
    </div>
    </ion-content>
</ion-view>
