<ion-view view-title="Evénement" class="page-event-check">
    <ion-content>
    <div class="content header-logo">
        <div class="logo">
        </div>
        <h1 class="h1 app-name">Clock Enough</h1>
    </div>
    <div class="list">
        <h2 class="h2 title">{{event.group_name}}</h2>
        <a class="button button-large button-block button-stable" href="#/tab/event/{{event.group_id}}/capture">
          Départ / Arrivée
        </a>
        <a class="button button-large button-block button-stable" href="#/tab/event/{{event.group_id}}/capture">
          Status
        </a>
    </div>
    </ion-content>
</ion-view>
