<ion-view view-title="Mon Compte" id="account" class="page-account">
    <ion-nav-buttons side="right">
        <button class="button icon ion-person-add" ng-click="goTo('tab.signUp')"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="content header-logo">
            <div class="logo">
            </div>
            <h1 class="h1 app-name">Clock Enough</h1>
        </div>
        <div class="content">
        <ion-list class="list animate-fade-slide-in-right">
            <ion-item class="item" ng-repeat="e in events">
                <a href="#/tab/account/{{e.group_id}}">
                    <h2>{{e.group_name}}</h2>
                </a>

                <ion-option-button class="button-balanced" ng-click="">Confirm</ion-option-button>
                <ion-option-button class="button-assertive" ng-click="">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
