
h1.h1.app-name {
	display: inline-block;
	vertical-align: middle;
	margin-top:0;
	font-size:32px;
	font-weight:200;
}

h2.h2.title {
	padding-top: 20px;
	text-align: center;
	font-size:24px;
	font-weight:200;
}

.content.header-logo{
	text-align: center;
}

.bar{
	height:50px;
	.title+.buttons.buttons-right{
		top:8px;
	}
	&.bar-header .button+.title {
	    top: 3px;
	}
}

.input-label {
	color:#b6b6b6;
    font-size: 14px;
}

.has-header .has-tabs-top{
	top:86px;
}

.header-logo{
    border-bottom: 1px $dark solid;
}

.tabs-top > .tabs, .tabs.tabs-top{
	top:56px;
}

.tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
	margin-top:3px;
}

.logo {

	width:70px;
	height:90px;

	display: block;

	vertical-align: middle;
	margin: 30px auto 0 auto;

	color: $stable;
	text-align: center;

	background: url('http://ronald-site.pagesperso-orange.fr/image/face.png') no-repeat center center;
	background-size:cover;
}

.picture {
	display: block;
	width: 200px;
	height: 200px;
	border: 1px solid $dark;
	margin: 30px auto;
	overflow: hidden;
	i {
		display: block;

		text-align: center;

		line-height: 150px;
		font-size: 40px;
	}
	img {
		width: 100%;
	}
}

input[type="text"] {
	border-bottom: 1px solid $dark;
	&.ng-valid-parse {
		color: $dark;
		border-color: $dark;
	}
}

.error {
	input[type="text"] {
		color: $assertive;
		border-color: $assertive;
	}
}

.item.item-avatar > img {
    top: 12px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 0;
}

.animate-fade-slide-in-right{
	.list{
		.item{

			position: relative;

			width:100%;
			height:200px;

			padding:0;
			text-align: center;

			a{
				position:relative;
				display:block;

				width:100%;
				height:100%;

				background: url('http://ronald-site.pagesperso-orange.fr/image/bg_event.png') no-repeat center center;
				background-size:cover;

			}
			h2{
				position:absolute;
				top:50%;
				left:50%;

			    width:90%;

				font-size: 26px;
				font-weight: 400;
				color: white;
			    text-transform: uppercase;
			    white-space: normal;


				transform: translate(-50%,-50%);
				-webkit-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				-moz-transform: translate(-50%,-50%);
				-o-transform: translate(-50%,-50%);

			}
		}
	}
}
