.page-event-check{
	.list{
		text-align: center;
	}

	h2{
		margin:20px;
		padding:0;
	}

	.button-large {
	    width: 70%;
	    margin: 20px 0;
	}

	.userInfos{
		width:100%;
		margin:0 0 50px 0;
		h2{
			display: inline-block;
			margin:0 30px;
		}
	}
}